@import "fonts.css";

body {
    background: gray;
    font-family: "Open Sans";
}

ul,
li {
    display: block;
    padding: 0;
    margin: 0;
}

/* Menu */
.menu-bar {
    background: #fff;
    color: #212121;
    padding: 20px 0;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    font-family: "Open Sans Semibold";
    font-size: 20px;
    color: #212121;
}

.menu__item a:hover {
    text-decoration: none;
}

/* /menu */

/* Header */
.header {
    color: white;
    text-align: center;
    padding: 180px 0;
    background-image: url("../img/header.png");
    background-size: cover;
    background-position: 0 100%;
}

.header__title {
    font-size: 55px;
}

.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}

/* Button */
.button {
    text-transform: uppercase;
    padding: 10px 25px;
    margin: 80 10px;
    color: white;
    transition: 0.3s;
    background-color: #00897b;
    border: 1px solid #00897b;
    cursor: pointer;
}

.button:hover {
    background: transparent;
    border: 1px solid white;
}

.button__full {
    cursor: pointer;
    background-color: #00897b;
    border: 1px solid #00897b;
}

/* /button */

/* About */

.about {
    padding-top: 125px;
    padding-bottom: 125px;
    color: black;
    text-align: center;
    background: white;
}

.about__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.about__text {
    color: #212121;
    font-size: 15px;
    transition: 0.3s;
    margin-bottom: 110px;
}

.about__h3 {
    margin-top: 30px;
    font-family: "Open Sans Semibold";
    font-size: 20px;
}

/*Наши услуги*/
.services {
    padding-top: 120px;
    padding-bottom: 125px;
    color: black;
    text-align: center;
    background: #e4fdf9;
}

.our_card {
    background: white;
    padding: 40px 25px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.our_card:hover {
    background: #00897b;
    color: white;
    box-shadow: 0px 10px 12px -3px rgba(0, 0, 0.26);
}

.our_card:hover .about__text {
    color: white;
}

.our_card:hover .button-services {
    color: white;
    border: 2px solid white;
}

.button-services {
    transition: 0.3s;
    border: 2px solid black;
    padding: 12px;
    background: transparent;
    padding: 14px 12px;
    font-family: "Open Sans Semibold";
    cursor: pointer;
}

/* PORTFOLIO */

.portfolio {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 125px;
}

.portfolio button:hover,
.focused {
    color: #000;
    background: transparent;
    cursor: pointer;
    border: 1px solid #00897b;
}

.portfolio img {
    margin-bottom: 30px;
}

.filter {
    padding: 120px 0;
}

div[filter]:hover img {
    /*затемнение*/
    filter: brightness(50%);
    transition: 0.3s;
}

.text {
    display: none;
}

div[filter]:hover .text {
    display: block;
    width: 100%;
    color: #ffff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 1000;
    text-align: center;
}

/* PRICING */

.pricing {
    padding-top: 165px;
    padding-bottom: 125px;
    color: #000;
    background: #f0f1f1;
    text-align: center;
}

.price {
    background: #fff;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.39);
}

.price__head {
    color: #fff;
    padding-top: 40px;
    padding-bottom: 65px;
    background-image: url(../img/bg_plan.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 211px;
}

.price__head p {
    font-size: 25px;
}

.price__head {
    font-size: 50px;
}

.price__head sub {
    vertical-align: middle;
    font-size: 17px;
}

.price__head sup {
    vertical-align: middle;
    font-size: 25px;
}

.price__body {
    font-size: 17px;
    color: #212121;
}

.price__body ul li {
    color: #212121;
    padding-top: 18px;
    padding-bottom: 12px;
    margin: 0 auto;
    max-width: 175px;
    border-bottom: 1px solid #bfbfbf;
}

.price__footer {
    display: block;
    padding: 60px 0;
}

.price__footer button {
    cursor: pointer;
    color: #212121;
    background: transparent;
    border: 2px solid #212121;
    width: 180px;
    height: 60px;
    font-size: 20px;
    transition: 0.3s;
}

.price__footer button:hover {
    text-transform: uppercase;
    color: #fff;
    background: #00897b;
    border: #00897b;
}

/* ========= TEAM ============== */

.team {
    padding-top: 165px;
    padding-bottom: 125px;
    color: #000;
    background: #fff;
    text-align: center;
}

.team h4 {
    margin-top: 30px;
    font-size: 20px;
    font-family: "Open Sans Semibold";
}

.team p {
    font-size: 14px;
    margin-bottom: 30px;
}

.team img {
    margin: 0 auto;
    max-width: 340px;
}

.icons {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 70%;
}

.icons > a > img {
    max-width: 40px;
    max-height: 40px;
}

/* CONNECT slick-carousel */
.multiple-items {
    margin-top: 125px;
}

.dots-style {
    margin-top: 115px;
    display: flex;
    justify-content: center;
}

.dots-style button {
    background: #00897b;
    border: none;
    border-radius: 50%;
    font-size: 0;
    height: 15px;
    width: 15px;
    margin: 5px;
}

.dots-style li[class="slick-active"] button {
    background: #3949ab;
}

/* FOOTER */

.footer {
    padding-top: 165px;
    padding-bottom: 125px;
    color: #fff;
    background-image: url(../img/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.footer .about__text {
    color: #fff;
}

.fa-map-marker-alt,
.fa-phone-alt,
.fa-envelope {
    font-size: 62px;
    color: #fff;
}

.circle {
    background-color: #3949ab;
    width: 100px;
    height: 100px;
    margin: 0 auto 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle + p {
    font-size: 20px;
}

.footer input,
.footer textarea {
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    border-radius: 10px;
    border: none;
}

.footer input:focus,
.footer textarea:focus {
    outline: none;
}

.footer textarea {
    margin-top: 30px;
    margin-bottom: 30px;
    resize: none;
}

.footer button {
    font-style: 20px;
    font-family: "Roboto";
    text-transform: uppercase;
    color: #212121;
    padding: 20px 80px;
    border-radius: 10px;
    border: none;
    transition: .3s;
}

.footer button:hover {
    opacity: .6;
}

.form {
    margin-top: 70px;
}

.rules p {
    padding: 20px 0;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    nav {
        display: none;
    }
}
